[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyusb = "*"
pydbus = "*"

[dev-packages]
socranop = {editable = true, path = "."}
black = "*"
flake8 = "*"
isort = "*"
pytest = "*"
tox = "~= 3.0"
tox-pyenv = "*"
pipenv-setup = "*"
pre-commit = "*"
chardet = "*"
twine = "*"
pygit2 = "*"
vistir = "< 0.7.0"

[pipenv]
allow_prereleases = true
